/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* styles css*/

/*mes imports*/
@import "flexbox.css";

/* mes variables de couleurs*/
:root {
    --dark-color: #353536;
    --primary-color: #f56518;
    --secondary-color: #0ec0c0;
    --darken-primary-color: #187981;
    --darken-secondary-color: rgb(9, 143, 143);
    --white:#f7f7f7;
    --black:#1a1a1a;
}

.bg-primary {
    background-image: -webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(36, 175, 143, 0.5)),
            to(rgb(45, 98, 88, 0.5))
    ),
    url("../src/img/texture/texture-glass.jpg");
    background-image: -o-linear-gradient(
            rgba(36, 175, 143, 0.5),
            rgb(45, 98, 88, 0.5)
    ),
    url("../src/img/texture/texture-glass.jpg");
    background-image: linear-gradient(
            rgba(36, 175, 143, 0.5),
            rgb(45, 98, 88, 0.5)
    ),
    url("../src/img/texture/texture-glass.jpg");
}



.bg-secondary {
    background-image:
            -webkit-gradient(
                    linear,
                    left top, left bottom,
                    from(rgb(41, 154, 157, 0.5)),
                    to(rgb(39, 77, 79, 0.5))
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paint.jpg");
    background-image:
            -o-linear-gradient(
                    rgb(41, 154, 157, 0.5),
                    rgb(39, 77, 79, 0.5)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paint.jpg");
    background-image:
            linear-gradient(
                    rgb(41, 154, 157, 0.5),
                    rgb(39, 77, 79, 0.5)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paint.jpg");
}



.bg-darken-primary {
    background-image:
            -webkit-gradient(
                    linear,
                    left top, left bottom,
                    from(rgb(26, 26, 26, 0.2)),
                    to(rgba(43, 57, 59, 0.8))
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-wood.jpg");
    background-image:
            -o-linear-gradient(
                    rgb(26, 26, 26, 0.2),
                    rgba(43, 57, 59, 0.8)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-wood.jpg");
    background-image:
            linear-gradient(
                    rgb(26, 26, 26, 0.2),
                    rgba(43, 57, 59, 0.8)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-wood.jpg");
}



.bg-darken-secondary {
    background-image:
            -webkit-gradient(
                    linear,
                    left top, left bottom,
                    from(rgb(39, 88, 91, 0.8)),
                    to(rgb(26, 26, 26, 0.2))
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paper.jpg");
    background-image:
            -o-linear-gradient(
                    rgb(39, 88, 91, 0.8),
                    rgb(26, 26, 26, 0.2)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paper.jpg");
    background-image:
            linear-gradient(
                    rgb(39, 88, 91, 0.8),
                    rgb(26, 26, 26, 0.2)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paper.jpg");
}



/* Styles généraux */
* { -webkit-box-sizing:border-box; box-sizing:border-box }
*:before, *:after { -webkit-box-sizing:inherit; box-sizing:inherit }

figure, img, ul, ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: var(--black);
    background-color: var(--white);
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 .uppercase{
    text-transform: uppercase;
}

h1, h2 {
    color: var(--primary-color) ;
    font-size: 400px;
}

a {
    text-decoration: none;
}


/* ----------------------HEADER */

/********************************************/
/*PAGE PROJET*/
/*-------------------------- MAIN*/

/*----------hero*/

main .hero{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

main #hero {
    background: linear-gradient(260deg, #04444b, #1a1a1a)
    /*background-image: -webkit-gradient(*/
    /*        linear,*/
    /*        left top, left bottom,*/
    /*        from(rgba(16, 24, 24, 0.5)),*/
    /*        to(rgba(26, 26, 26, 0.8))*/
    /*),  !*Applique un filtre noir sur l'image*!*/
    /*url("../src/img/pexels-felipepelaquim-8546568-optimisé.jpg");*/
    /*background-image: -o-linear-gradient(*/
    /*        rgba(16, 24, 24, 0.5),*/
    /*        rgba(26, 26, 26, 0.8)*/
    /*),  !*Applique un filtre noir sur l'image*!*/
    /*url("../src/img/pexels-felipepelaquim-8546568-optimisé.jpg");*/
    /*background-image: linear-gradient(*/
    /*        rgba(16, 24, 24, 0.5),*/
    /*        rgba(26, 26, 26, 0.8)*/
    /*),  !*Applique un filtre noir sur l'image*!*/
    /*url("../src/img/pexels-felipepelaquim-8546568-optimisé.jpg");*/
}

.cta-1 {
    display: block;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin: 1rem auto 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--darken-primary-color);
}

.cta-1:hover {
    color: var(--white);
    background-color: var(--primary-color);
    -webkit-animation: vibrate-1 0.5s ease-in-out 1.5 both;
    animation: vibrate-1 0.5s ease-in-out 1.5 both;
}

/*optimisation banner*/
@media (min-width: 1080px) {
    main #hero {
        /*background-image: -webkit-gradient(*/
        /*        linear,*/
        /*        left top, left bottom,*/
        /*        from(rgba(13, 76, 79, 0.2)),*/
        /*        to(rgba(26, 26, 26, 0.8))*/
        /*), !*Applique un filtre noir sur l'image*! url("../src/img/pexels-felipepelaquim-8546568-grand.jpg");*/
        /*background-image: -o-linear-gradient(*/
        /*        rgba(13, 76, 79, 0.2),*/
        /*        rgba(26, 26, 26, 0.8)*/
        /*), !*Applique un filtre noir sur l'image*! url("../src/img/pexels-felipepelaquim-8546568-grand.jpg");*/
        /*background-image: linear-gradient(*/
        /*        rgba(13, 76, 79, 0.2),*/
        /*        rgba(26, 26, 26, 0.8)*/
        /*), !*Applique un filtre noir sur l'image*! url("../src/img/pexels-felipepelaquim-8546568-grand.jpg");*/

    }
}

.hero .hero-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -5%;
}

.hero .hero-content h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
    font-weight: 400;
    text-transform: uppercase;
}

.hero .hero-content .slogan {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 3rem;
    max-width: 670px;
    color: var(--white);
}

.link {
    padding: 0 3rem;
}

.link>li>a {
    color: var(--white);
    font-size: 1.6rem;
    padding-right: 1rem;
    position: relative;
}

.link>li>a:hover:before {
    content: "";
    width: 70%;
    height: 5px;
    background-color: #f56518;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.link>li>a>i {
    padding-right: .5rem;
}

.linkedin {
    color: #0355ec;
}

/* mediaqueries hero*/
@media (max-width: 1219px) {
    main .hero{
        width:100%;
        height: 40vh;
    }

    .hero .hero-content h1 {
        font-size: 2.8rem;
    }

    .hero #hero-content .slogan {
        font-size: 2rem;
    }

}

/*Contact*/

.contact {
    width: 50%;
    height: auto;

    background: -webkit-gradient(
            linear,
            left top, right top,
            from(rgba(23, 26, 26, 0.8)),
            to(rgba(26, 26, 26, 0.5))
    ), /*Applique un filtre noir sur l'image*/ url("../src/img/jon-tyson-FlHdnPO6dlw-unsplash.jpg") center;
    background: -o-linear-gradient(
            left,
            rgba(23, 26, 26, 0.8),
            rgba(26, 26, 26, 0.5)
    ), /*Applique un filtre noir sur l'image*/ url("../src/img/jon-tyson-FlHdnPO6dlw-unsplash.jpg") center;
    background: linear-gradient(
            to right,
            rgba(23, 26, 26, 0.8),
            rgba(26, 26, 26, 0.5)
    ), /*Applique un filtre noir sur l'image*/ url("../src/img/jon-tyson-FlHdnPO6dlw-unsplash.jpg") center;

}

.contact-titre {
    font-size: 2.5rem;
    padding: 0 3rem;
    font-weight: 400;
    margin: 4rem auto 0;
}

.contact-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem auto 2rem;
    padding: 0 3rem;
    max-width: 470px;
}

.contact p {
    color: var(--white);
}

@media (max-width: 1219px) {
    .contact {
        width: 100%;
        height: 60vh;

    }

    .contact-text {
        margin: 0 auto 2rem;
    }

    .contact>div {
        margin-top: 0;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-22 1:46:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-22 1:49:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

