/* styles css*/

/*mes imports*/
@import "flexbox.css";

/* mes variables de couleurs*/
:root {
    --dark-color: #353536;
    --primary-color: #f56518;
    --secondary-color: #0ec0c0;
    --darken-primary-color: #274d4f;
    --darken-secondary-color: rgb(9, 143, 143);
    --white:#f7f7f7;
    --black:#1a1a1a;
}

.bg-primary {
    background-image: linear-gradient(
            rgba(36, 175, 143, 0.5),
            rgb(45, 98, 88, 0.5)
    ),
    url("../src/img/texture/texture-glass.jpg");
}



.bg-secondary {
    background-image:
            linear-gradient(
                    rgb(41, 154, 157, 0.5),
                    rgb(39, 77, 79, 0.5)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paint.jpg");
}



.bg-darken-primary {
    background-image:
            linear-gradient(
                    rgb(26, 26, 26, 0.2),
                    rgba(43, 57, 59, 0.8)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-wood.jpg");
}



.bg-darken-secondary {
    background-image:
            linear-gradient(
                    rgb(39, 88, 91, 0.8),
                    rgb(26, 26, 26, 0.2)
            ),  /*Applique un filtre noir sur l'image*/
            url("../src/img/texture/texture-paper.jpg");
}



/* Styles généraux */
* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

figure, img, ul, ol {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: var(--black);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--darken-primary-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, .uppercase {
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color) ;
}

h3 {
    color: var(--darken-primary-color)
}

/* ----------------------HEADER */

/********************************************/
/*PAGE PROJET*/
/*-------------------------- MAIN*/

/*----------hero*/

main .hero{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

main #hero {
    background-image: linear-gradient(
            rgb(39, 77, 79, 0.2),
            rgba(26, 26, 26, 0.8)
    ),  /*Applique un filtre noir sur l'image*/
    url("../src/img/pexels-felipepelaquim-8546568-optimisé.jpg");
}

.cta-1 {
    display: block;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin: 1rem auto 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--darken-primary-color);
}

.cta-1:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

/*optimisation banner*/
@media (min-width: 1080px) {
    main #hero {
        background-image: linear-gradient(
                rgb(39, 77, 79, 0.2),
                rgba(26, 26, 26, 0.8)
        ), /*Applique un filtre noir sur l'image*/ url("../src/img/pexels-felipepelaquim-8546568-grand.jpg");

    }
}

.hero .hero-content {
    width: fit-content;
    margin-top: 5%;
}

.hero .hero-content h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}

.hero .hero-content .slogan {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
}


/* mediaqueries hero*/
@media (max-width: 580px) {
    .hero .hero-content h1 {
        font-size: 3rem;
        line-height: 1.2rem;
    }

    .hero #hero-content .slogan {
        font-size: 2rem;
    }

}

/*Contact*/

.contact {
    width: 50%;
    height: auto;
    background-color: #1a1a1a;
}

.contact>div {
    margin-top: 50%;
}

.contact-titre {
    font-size: 2.5rem;
}

.contact-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 3rem auto 2rem;
    max-width: 300px;
}

.contact p {
    color: var(--white);
}



/* footer*/

.site-footer {
    background: var(--dark-color);
    margin: 0;
    padding: 2rem 0;

}
.site-footer h6{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left:6px;
    line-height: 0.5rem;
    color: var(--white);
}

.site-footer p, .site-footer a {
    color: #818a91;
    margin-left:6px;
}

.site-footer .social-icons
{
    text-align:left
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color: #39393b;
}


/*mes icones*/
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:var(--secondary-color)
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .footer-content, .footer-nav {
        padding: 0 3rem;
    }

    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }

}

